<!doctype html>
<html ng-app="App">
<head>
    <title>HackTerror</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script   src="http://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script>
        angular.module('App', [])
            .controller('MainController', function($scope, $http){
                $scope.eventID = '';
                $scope.data = {};
                $scope.submit = function(){
                    $http.get('http://localhost:5000/' + $scope.eventID).then(function(res){
                        $scope.data = res.data;
                    });
                };

                $scope.temp = function(){
                    $http.get('http://localhost:5000/temp/' + $scope.eventID).then(function(res){
                        $scope.data = res.data;
                    });
                };
            });
    </script>
</head>
<body ng-controller="MainController">
    <div class="container">
        <div class="page-header">
            <h1>Terror Weather</h1>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">EventID</span>
                    <input ng-model="eventID" class="form-control">
                </div>
                <button class="btn btn-primary" ng-click="submit()">Submit</button>
                <button class="btn btn-info" ng-click="temp()">Get Temp</button>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-12">
                <pre>{{data | json}}</pre>
            </div>
        </div>
    </div>
</body>
</html>
